---
import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Post.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Nelertile > Blog">
  <main>
    <div class="header">
      <h1>Information / Blog</h1>
      <p>
        This is where i will post some updates (check discord for more frequent
        ones) and possibly some game reviews!
      </p>

      <a href="/blog/tags">tag index</a>
    </div>
    <h2>Posts</h2>
    <div class="posts-container">
      {
        allPosts.map((post) => (
          <Post
            title={post.frontmatter.title}
            url={post.url}
            img={post.frontmatter.image.src}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  h2 {
    background-color: #05c46baa;
    width: 100%;
  }
  .posts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
</style>
