---
import Layout from "../layouts/Layout.astro";
---

<Layout title="nerii">
  <main>
    <h1 class="header">hiya, i'm nerii</h1>
	<div class="about">
		<p>i'm a musician and developer from <span id="gradient-text">Gothenburg, Sweden</span> </p>
		<p>i also enjoy anime, geoguessr and infrastructure</p>
    <p>/currently studying <span id="gradient-text">game development</span> in high school/</p>
	</div>
  </main>

  <style lang="scss">
  main {
      padding-top: 4em;
    }
    .header {
      padding: 10px 0 10px 0;
    }

    .about {
      padding-top: 8em;
      padding-bottom: 4em;
    }

	
  </style>
</Layout>
