<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<main>
  <h1 id="green">Nelertile</h1>
  <div class="link-container">
    <a class="social" href="https://youtube.com/@Nelertile">youtube</a>
    <a class="social" href="https://twitch.com/nelertile">twitch</a>
    <a class="social" href="https://nelertile.github.io/discord">discord</a>
    <a class="social" href="https://twitter.com/nelertile">twitter</a>
    <a class="social" href="https://github.com/Nelertile">github</a>
    <a class="social" href="https://nelertile.github.io/spotify">spotify</a>
    <a class="social" href="https://anilist.co/user/Nelertile/">anilist</a>
  </div>
  <p>made with <span id="pink">&lt;3</span> by nelertile</p>
  <p>using <a href="https://catppuccin.com/palette">cattpuccin</a> mocha</p>
  <br />
  <a href="/">/full site/</a>
</main>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

  body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "Fira Code", monospace;
    font-size: 1em;
    overflow-x: hidden;
  }

  main {
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 20%;
  }

  a {
    color: #89b4fa;
  }

  .social {
    color: #cba6f7;
    margin: 10px;
  }

  #green {
    color: #a6e3a1;
  }
  #pink {
    color: #f5c2e7;
  }

  .link-container {
    display: flex;
    flex-direction: column;
  }
</style>
