<footer>

	<p class="footer">made with <span id="pink">&lt;3</span> by neriidesu </p>
</footer>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

	footer{
    	display: flex;
    	flex-direction: column;
		height: 8vh;
	}
	#pink {
    	font-family: "Fira Code", monospace;
    	color: #f5c2e7;
  }
</style>
