---
---

<header>
  <nav>
    <a href="/">nerii</a>
	<div>
		<a href="/links">contacts</a>
	</div>
  </nav>
</header>

<style lang="scss">

  header {
    z-index: 100;
    width: 100%;
    top: 0;
    background-color: #11111b;
    position: fixed;
  }

  nav {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
    > * {
      margin: 10px 10px 10px 10px;
    }

    div:last-child {
      margin-left: auto;
      margin-right: 10%;
    }
  }

  a {
    text-decoration: none;
  }
</style>
