---
const { title, url, img } = Astro.props;
---

<div class="postbg">
  <a class="post" href={url}>
    {title}
  </a>
</div>

<style lang="scss" define:vars={{ image: `url("${img}")` }}>
  .postbg {
    background: var(--image);
    background-size: cover;
    width: 60%;
    height: 8em;
    transition: 0.3s;
    border-radius: 10px;

    &:hover {
      scale: 1.25;
    }
  }

  .post {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;

    width: 100%;
    height: 100%;
  }
</style>
