---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Nelertile's Website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
	  
    />
	<link 
	href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
	rel="stylesheet"
	/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
	<Footer/>
  </body>
</html>
<style is:global lang="scss">
  $text: #cdd6f4;
  $base: #1e1e2e;
  $primary: #0be881;
  $mochagreen: #a6e3a1;
  $mochamauve: #cba6f7;
  $crust: #11111b;
  body {
    width: 100vw;
    height: 100vh;
    // background-image: url("/gray_pattern.png");
	background-color: $base;
    color: $text;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
	height: calc(100vh - 8vh - 4em)
  }

  #gradient-text {
    background: linear-gradient(
      90deg,
      rgb(166, 227, 161) 0%,
      rgb(148, 226, 213) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #italic {
    font-style: italic;
  }
  h1 {
    text-align: center;
    font-size: 4em;
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  p {
    text-align: center;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
  }

  .ul {
    p {
      margin: 0;
    }
  }

  a {
    color: $text;
    transition: 0.3s;
    &:hover {
      color: $mochagreen;
    }
  }
</style>
